.admin-container {
  display: flex;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
}

.main-content {
  flex: 1;
  padding: 20px;
  margin-left: 270px; /* adjust based on the width of the sidebar */
  box-sizing: border-box;
  position: relative;
  overflow-y: scroll;
  height: 100%;
  
}

.sidesec{
  text-decoration: none;
}
