.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin:10px;
}

@media only screen and (min-width: 768px) {
  .product-list {
    grid-template-columns: repeat(4, calc(25% - 10px));
    margin: 0 -10px;
  }
}

@media only screen and (min-width: 1024px) {
  .product-list {
    grid-template-columns: repeat(4, calc(25% - 20px));
    margin: 0 -20px;
  }
}
